@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(images/pattern-background-desktop.svg);
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
 
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-content {
  padding: 10%;
  text-align: center;
}
.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}
.text-content p.subtitle {
  color: hsl(224, 23%, 55%);
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.plan-box {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

.plan-box-left {
  display: flex;
  align-items: center;
  text-align: left;
}
.plan-box-left div {
  margin-left: 20px;
  line-height: 1.5;
}

.plan-box-left div h5 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 16px;
}
.plan-box-left div p {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}
.plan-box a {
  font-weight: 700;
  font-size: 16px;
  color: hsl(223, 47%, 23%);
}
.plan-box a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
  opacity: 0.6;
}
a.proceed-btn {
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 15px 0;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0px 15px 40px -2px hsl(245, 75%, 52%, 0.4);
}
a.proceed-btn:hover {
  background-color: hsl(245, 75%, 52%);
  opacity: 0.6;
}
a.cancel-btn {
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}
a.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}
@media only screen and (max-width: 425px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
  }
  .container {
    max-width: 87%;
  }
  .title {
    font-size: 23px;
  }
  div.plan-box {
    padding: 15px;
  }
  .plan-box-left div {
    margin-left: 10px;
  }
  a.proceed-btn,
  a.cancel-btn,
  .plan-box {
    font-size: 12px;
  }
}
